.imagination-position-aniligalation {
    position: absolute;
    z-index: -1;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%; 
    background-size: 100%;
}

.panel-element {
    color: white;
    text-align: center;
    background-color: rgba(39,47,51, 0.5);
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-menu {
    background-color: white;
    min-height: 1000px;
}

.grey-color-fantastyk {
    background-color: #EBEBEB;
}

body{
    background-color: #E0E0E0;
}

